*
	font-family $main-font
	margin 0
	padding 0
	
	user-select none
	-moz-user-select none
	-webkit-user-select none
	-ms-user-select none
	
button
	cursor pointer
	display block
	border none
	outline none

body, html
	width 100%
	height 100%

body
	background url('assets/img/bg.jpg')
	background-position center
	background-size cover
		
	overflow hidden
	font-smoothing antialiased
	user-select none
	
section
	width 100%
	height 100%
	position absolute