.user 
	r 20
	fill #fff
	stroke-width 3
	animation 'elastic'

path 
	fill transparent
	stroke #fff
	stroke-width 3

.cross 
	r 25
	fill rgb(228 78 78)
	stroke-width 3
	animation 'elastic'

.bad 
	r 25
	fill rgba(103 58 183 0.63)
	stroke-width 3
	animation 'elastic'

.touch 
	fill transparent
	stroke #fff
	stroke-width 5

.crossCrossing 
	fill #8BC34A

.badCrossing 
	r 20
	fill #fff
	opacity 0.5

.trajectoryLine 
	stroke-width 3
	stroke-dasharray 3

.userPath
	stroke-width 3
	stroke #fff
	fill transparent

.untouch 
	fill transparent
	stroke #FF3535
	opacity 0.8
	stroke-width 5

.test 
	r 10
	fill rgba(255 255 255 .5)
	opacity 0.5
	stroke-width 2
	stroke rgba(255 255 255 .9)
	animation 'elastic'

.testCrossing 
	r 5
	fill #8EFFE4
