section#settings

	h1 SETTING
	
	ul.props
		li#propMusic Toggle music
			span.toggle ON

		li#propEffect Toggle effect
			span.toggle ON

		li#propLang Select lang
			span.toggle EN

	button.ui.exit E