.ui
	position absolute
	font-family $main-font
	z-index 100
	color #fff
	
span.ui
	font-size 50px
	background-color rgba(255, 255, 255, 0)

button.ui
	width 75px
	height 75px
	border-radius 50%
	font-size 40px
	background-color transparent
		
	border 2px solid #fff
	text-align center
	

button.ui:hover
	background-color rgba(255, 255, 255, 0.21)
	

// Position Objects
#steps
	top 30px
	left 30px
	font-size 30px
	text-shadow 0 0 3px #fff

#intersections
	top 30px
	left 140px
	font-size 30px
	text-shadow 0 0 3px #fff

#label
	top 65px
	left 28px
	font-size 55px
	text-shadow 0 0 2px #fff
	
#restart
	top 30px
	right 30px

#closePath
	top 30px
	right 120px

#hint
	top 30px

.exit
	bottom 30px
	right 30px

.setup
	right 30px
	bottom 30px

.tutorial
	right 120px
	bottom 30px
