#menu h1
	text-align center
	margin 50px 0 18px 0
	font-size 100px
	color #fff
	font-weight normal
	text-shadow 0 0 30px #fff

	
#menu p
	color #fff
	font-size 40px
	text-align center
	text-shadow 0 0 10px #fff
	
#menu hr
	margin 40px auto
	width 90%

.start
	background-color #FF9800
	margin 100px auto
	width 200px
	height 70px
	font-size 50px
	padding 5px