#settings h1
	text-align center
	margin 50px 0 18px 0
	font-size 100px
	color #fff
	font-weight normal
	text-shadow 0 0 30px #fff

.props
	margin-top 50px
	list-style none
	text-align center
	color #fff
	font-size 50px

.props li
	margin-top 10px

.toggle
	text-shadow 0 0 10px #fff
	margin-left 30px
	cursor pointer